In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("Salary.csv")
df

C:\Users\haroon traders\AppData\Local\Temp\ipykernel_2036\3961931909.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Salary.csv")

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0,0,-618.13,0,-618.13,-618.13,2014,NaN,San Francisco,PT

1. Which employee has the highest TotalPayBenefits?

In [9]:
highest_pay = df.loc[df['TotalPayBenefits'].idxmax()]
print("1. Highest TotalPayBenefits Employee:")
print(highest_pay[['EmployeeName', 'TotalPayBenefits']])

1. Highest TotalPayBenefits Employee:
EmployeeName        NATHANIEL FORD
TotalPayBenefits         567595.43
Name: 0, dtype: object

2. Drop ID, Notes, Agency and Status Columns

In [17]:
df1 = df.drop(columns=['Id', 'Notes', 'Agency', 'Status'], errors='ignore')

In [18]:
print(df1.columns)

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

3. Total Number of Job Titles Contain POLICE

In [19]:
num_police_titles = df1['JobTitle'].str.contains("POLICE", case=False).sum()
print("\n3. Total number of job titles that contain 'POLICE':", num_police_titles)

3. Total number of job titles that contain 'POLICE': 8201

4. Top 10 most common job titles?

In [22]:
top_common_titles = df1['JobTitle'].value_counts().head(10)
print("\n4. Top 10 most common job titles:")
print(top_common_titles)

4. Top 10 most common job titles:
JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Custodian                       2418
TRANSIT OPERATOR                2388
Firefighter                     2359
Recreation Leader               1971
Patient Care Assistant          1945
Name: count, dtype: int64

In [23]:
top_avg_totalpay = df1.groupby('JobTitle')['TotalPay'].mean().sort_values(ascending=False).head(10)
print("\n5. Top 10 average TotalPay by JobTitle:")
print(top_avg_totalpay)

5. Top 10 average TotalPay by JobTitle:
JobTitle
GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY    399211.275000
Chief Investment Officer                          339653.700000
Chief of Police                                   329183.646667
Chief, Fire Department                            325971.683333
DEPUTY DIRECTOR OF INVESTMENTS                    307899.460000
CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)            302377.730000
Gen Mgr, Public Trnsp Dept                        297769.413333
Asst Chf of Dept (Fire Dept)                      281763.483889
DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)      279359.560000
Dep Dir for Investments, Ret                      278592.545000
Name: TotalPay, dtype: float64

6. How many unique job titles are there each year?

In [24]:
unique_titles_per_year = df1.groupby('Year')['JobTitle'].nunique()
print("\n6. Unique job titles each year:")
print(unique_titles_per_year)

6. Unique job titles each year:
Year
2011    1045
2012    1044
2013    1051
2014     997
Name: JobTitle, dtype: int64

7. Find Average TotalPay Of All Employee Per Year.

In [26]:
avg_totalpay_per_year = df1.groupby('Year')['TotalPay'].mean()
print("\n7. Average TotalPay per year:")
print(avg_totalpay_per_year)

7. Average TotalPay per year:
Year
2011    71744.103871
2012    74113.262265
2013    77611.443142
2014    75463.918140
Name: TotalPay, dtype: float64

8. How many unique employees worked each year?

In [27]:
unique_employees_per_year = df1.groupby('Year')['EmployeeName'].nunique()
print("\n8. Unique employees per year:")
print(unique_employees_per_year)

8. Unique employees per year:
Year
2011    33878
2012    34349
2013    36150
2014    36684
Name: EmployeeName, dtype: int64

9. Which year had the most employees earning over 100,000 in TotalPay?

In [29]:
high_earners = df1[df['TotalPay'] > 100000]
most_high_earners_year = high_earners.groupby('Year')['EmployeeName'].count().idxmax()
print("\n9. Year with most employees earning over 100,000 in TotalPay:", most_high_earners_year)

9. Year with most employees earning over 100,000 in TotalPay: 2013

10. Which columns have missing values?

In [5]:
missing_values = df.isnull().sum()
print("\n10. Missing values in columns:")
print(missing_values[missing_values > 0])

10. Missing values in columns:
BasePay        605
Benefits     36159
Notes       148654
Status      110535
dtype: int64