In [1]:
#Question no.01:

In [12]:
products = {
    101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50},
    102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200},
    103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30}
}
#Task.01
products[102]["stock"] += 50
#Task.02
products[104] = {"name":"Smart phone", "Category": "Electronics", "Price": 900, "Stock": 100}
#Result
print("Product#101:",products[101]),
print("Product#102:",products[102]),
print("Product#104:",products[104])

Product#101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}
Product#102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}
Product#104: {'name': 'Smart phone', 'Category': 'Electronics', 'Price': 900, 'Stock': 100}

In [2]:
#Question no.02:

In [3]:
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]
unique_items = []
for item in shopping_list:
    if item not in unique_items:
        unique_items.append(item)
print("New list:",unique_items)

New list: ['apple', 'banana', 'orange', 'grape']

In [ ]:
#Question no.03:

In [8]:
course_a = {"John", "Alice", "Bob", "David"}
course_b = {"Alice", "Eve", "Charlie", "David"}

a_not_b = course_a - course_b
print("Student in course A but not in course B:",a_not_b)

unique_students = course_a ^ course_b
print("Students in exactly one course:",unique_students)

Student in course A but not in course B: {'Bob', 'John'}
Students in exactly one course: {'Eve', 'Bob', 'Charlie', 'John'}

In [ ]:
#Question no.04:

In [9]:
sum_of_evens = 0

for number in range(2, 51, 2):
    sum_of_evens += number

print("The sum of all even numbers between 1 and 50 is:",sum_of_evens)

The sum of all even numbers between 1 and 50 is: 650

In [4]:
#Question no.05:

In [16]:
Number = int(input("Enter a Number"))
#initialize with variable called power
power = 1
#while loop
while power <= 10:
    result = number ** power
    print(f"{number}^{power} = {result}")
    print()
    power += 1

Enter a Number 3

50^1 = 50

50^2 = 2500

50^3 = 125000

50^4 = 6250000

50^5 = 312500000

50^6 = 15625000000

50^7 = 781250000000

50^8 = 39062500000000

50^9 = 1953125000000000

50^10 = 97656250000000000

In [5]:
#Question no.06:

In [18]:
start_number = int(input("Enter a number to start the countdown: "))
#For Loop
for current in range(start_number, -1, -1):
    print(current)

print("Countdown Finished!")

Enter a number to start the countdown:  3

3
2
1
0
Countdown Finished!

In [6]:
#Question no.07:

In [21]:
number = int(input("Enter a number: "))
#initialized factorial to 1...
factorial = 1
#check if the number is positive, negative or zero
if number < 0:
    print("Factorial does not exist for negative numbers")
elif number == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1, number + 1):
        factorial *= i
    print(f"The factorial of {number} is {factorial}")

Enter a number:  21

The factorial of 21 is 51090942171709440000

In [7]:
#Question no.08:

In [24]:
person_info = {
    "Name" : "Alice",
    "Age" : 25,
    "Occupation" : "Engineer"
}
print(person_info),
print(person_info["Name"]),
print(person_info["Age"]),
print(person_info["Occupation"])

{'Name': 'Alice', 'Age': 25, 'Occupation': 'Engineer'}
Alice
25
Engineer

In [8]:
#Question no.09:

In [26]:
#initializing variables:
rows = 5
current_row =1
#outer while loop for rows:
while current_row <= rows:
    current_column = 1
    #outer while loop for columns:
    while current_column <= current_row:
        print("*",end=" ")
        current_column += 1
    print()
    current_row += 1

*
* *
* * *
* * * *
* * * * *

In [9]:
#Question no.10:

In [28]:
#For Loop
for num in range(1, 21):
    if num % 4 == 0:
        continue
        
    if num % 7 == 0:
        break
        
    print(num)

1
2
3
5
6